<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portfolio</title>
  <!-- ico in the URL address bar and on bookmarks created by web browsers -->
  <link rel="icon" type="image/png" href="img/Kamyab.jpg" />
  <!-- Bootstrap CSS file -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <!-- fontAwesome file -->
  <script src="https://kit.fontawesome.com/b0db9e868b.js" crossorigin="anonymous"></script>
  <!-- Custom CSS file -->
  <link rel="stylesheet" href="css/style.css" />
  <!-- GSAP animation -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>

</head>

<body>
  <!-- START HEADER -->
  {{> header headerDATA}}
  <!-- END HEADER -->
  <!-- START MAIN AREA -->
  <main class="site-main">
    <!-- START SECTION_1 AREA -->

    <section class="site-banner">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-12 site-title ">
            <div class="intro_name">
              <div class="title-text title-text--intro">
                Hi, I am
                <div class="letter-whole-animate">
                  <p class="letter-animate">Kamyab Rouhifar</p>
                </div>
              </div>

              <div class="subtitle-text subtitle-text--intro bg-dark">
                <p class="animate-text">
                  <span class="text-wrapper">
                    <span class="line line1"></span>
                    <span class="letters letters-left">WEB </span>
                    <span class="letters letters-right"> DEVELOPER</span>
                    <span class="line line2"></span>
                  </span>
                </p>
              </div>

              <img src="img/kamyab-quality.jpeg" alt="Kamyab Rouhifar" class="img-fluid img-thumbnail intro__img">
            </div>
            <div class="site-buttons">
              <div class="d-flex flex-row flex-wrap">
                <button type="button" class="btn button primary-button mr-4" data-bs-toggle="modal"
                  data-bs-target="#module1">
                  Instant Contact
                </button>
                <button type="button" class="btn button secondary-button" data-bs-toggle="modal"
                  data-bs-target="#module2">
                  Get CV / Resume
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 banner-image">
            <img src="img/banner/banner-image.png" alt="banner-img" class="img-fluid" />

          </div>
        </div>
      </div>

      <!-- Modal_1 -->

      <div class="modal fade" id="module1" tabindex="-1" aria-labelledby="module1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content border-0">
            <div class="text-danger bg-dark modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-id-card"></i>&nbsp;&nbsp; Contact
              </h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                aria-label="Close"></button>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row d-flex align-items-center">
                  <div class="col-md-8 col-sm-12 align-self-center">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item pb-3 d-flex align-items-center"><i
                          class="fa fa-phone-square text-primary f-56"></i><span style="padding-left: 10px;"> Phone:
                          +1(647)302-6226</span></li>
                      <li class="list-group-item pt-3 d-flex align-items-center"><i
                          class="fa fa-envelope-square text-primary f-56"></i><span style="padding-left: 10px;">
                          E-mail:
                          krouhifar@gmail.com</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <img
                      src="https://images.pexels.com/photos/263564/pexels-photo-263564.jpeg?auto=compress&cs=tinysrgb&dpr=5&h=1550&w=340"
                      alt="contact-us" class="img-fluid img-thumbnail center-block intro__img_2">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal_2 -->

      <div class="modal fade" id="module2" tabindex="-1" aria-labelledby="module2" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content border-0">
            <div class="text-danger bg-dark modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                <i class="fas fa-clipboard"></i>&nbsp;&nbsp; Kamyab Resume
              </h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <embed src="resume/Kamyab Rouhifar Resume.pdf#toolbar=0" type="application/pdf" width="100%"
                height="600px" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End-Modal -->
    </section>
    <!-- END SECTION_1 AREA -->

    <!-- ------------------- -->

    <!-- START SECTION_2 AREA -->
    <section class="about-area gs_reveal" id="scrollPosition">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="about-image gs_reveal">
              <img src="img/banner/about-us.png" alt="About us" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-6 col-md-12 about-title gs_reveal">
            <h2 class="text-uppercase pt-50">
              <span>Let me</span>
              <span>introduce</span>
              <span>myself</span>
            </h2>
            <div class="paragraph py-4 w-75 gs_reveal">
              <p class="para">
                My name is Kamyab Rouhifar I am web designer and developer.
              </p>
              <p class="para">
                I know three languages such as Persian, Turkish, and English.
                I am from Iran and I have 2 years programming knowledge. I have done projects such as
                creating C++ application by retrieving data from MySQL database management system.
                Mostly I create web application by using NodeJs as a backend and MongoDB as a database.
                Last but not least, Most my web applications are hosting live by using Netlify, Heroku ,etc.
                You can download my Resume for more details 😀 👇.
              </p>
            </div>
            <a href="resume/Kamyab Rouhifar Resume.pdf" download="Kamyab Rouhifar Resume">
              <button type="button" class="btn button primary-button text-uppercase">
                <i class="fa fa-download"></i> Download cv / Resume
              </button>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION_2 AREA -->

    <!-- ------------------- -->

    <!-- START SECTION_3 AREA -->
    <section class="services-area gs_reveal2" id="scrollPosition2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center services-title gs_reveal2">
            <h1 class="text-uppercase title-text">Programming experience</h1>
            <p class="para">
              Here is some applications that I made so far.
            </p>
            <p>
              <kbd><b>Please click each Icon to see more details.</b></kbd>
            </p>
          </div>
        </div>
        <div class="container services-list">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 gs_reveal2">
              <div class="services" data-bs-toggle="modal" data-bs-target="#projectModal"
                data-bs-whatever="Angular App">
                <div class="sevices-img text-center py-4">
                  <img src="img/services/angular.svg" alt="Angular">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title text-uppercase font-roboto">Angular App</h5>
                  <p class="card-text text-secondary">
                    Used Spotify music API, JWS authentication, Register &amp; login page, Searching bar.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 gs_reveal2">
              <div class="services" data-bs-toggle="modal" data-bs-target="#projectModal" data-bs-whatever="Java App">
                <div class="sevices-img text-center py-4">
                  <img src="img/services/java.svg" alt="Java">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title text-uppercase font-roboto">Java App</h5>
                  <p class="card-text text-secondary">
                    Used Java Swing - GUI widget toolkit, GUI widget toolkit ,Serialization processing.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 gs_reveal2">
              <div class="services" data-bs-toggle="modal" data-bs-target="#projectModal" data-bs-whatever="React App">
                <div class="sevices-img text-center py-4">
                  <img src="img/services/react-native.svg" alt="react-native">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title text-uppercase font-roboto">React App</h5>
                  <p class="card-text text-secondary">
                    Used Restaurant API, leaflet mapping library, Searching bar, React Hooks.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 gs_reveal2">
              <div class="services" data-bs-toggle="modal" data-bs-target="#projectModal" data-bs-whatever="Nodejs App">
                <div class="sevices-img text-center py-4">
                  <img src="img/services/javascript.svg" alt="javascript">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title text-uppercase font-roboto">JavaScript App</h5>
                  <p class="card-text text-secondary">
                    Used NodeJS application, session cookie, Admin &amp; Regular users.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION_3 AREA -->
    <!-- Start SECTION_4 AREA -->

    <section class="projects-slider  gs_reveal3" id="scrollPosition3">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center project-title">
            <h1 class="text-uppercase title-text">Accomplished projects</h1>
            <p class="para">
              The slide show of successful projects. <b>More details please check
                <code>'PROGRAMMING EXPERIENCE'</code>section.</b>
            </p>

          </div>
        </div>
        <!-- Swiper -->
        <div class="row">
          <div class="col-lg-12 gs_reveal3">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(img/portfolio/Restaurant.PNG)">
                  <div class="details">
                    <div class="desc-details">
                      <h3>React App</h3>

                    </div>
                  </div>
                </div>
                <div class="swiper-slide" style="background-image:url(img/portfolio/Spotify.PNG)">
                  <div class="details">
                    <div class="desc-details">
                      <h3>Angular App</h3>

                    </div>
                  </div>
                </div>
                <div class="swiper-slide" style="background-image:url(img/portfolio/KamiB&B.PNG)">
                  <div class="details">
                    <div class="desc-details">
                      <h3>Nodejs App</h3>

                    </div>
                  </div>
                </div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>

              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>

            </div>
          </div>
        </div>
        <!-- End Swiper -->


      </div>


    </section>
    {{!-- Start module --}}
    <div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="text-danger bg-dark modal-header">
            <i class="fas fa-globe"></i>&nbsp;&nbsp;<h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <p><i class="fas fa-link"></i>&nbsp;&nbsp;Live website link:
                    <code><b><a class="model-info-project" target="_blank"></a></b></code>
                  </p>
                  <br>
                  <p><i class="fab fa-github"></i>&nbsp;&nbsp;Github link:
                    <code><b><a class="model-info-project-github" target="_blank"></a></b></code>
                  </p>
                </div>
                <div class="col-lg-6 col-md-12">
                  <img class="model-img-project img-fluid img-thumbnail" width="100%" hight="500px">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>

        </div>
      </div>

      {{!-- End module --}}
      <!-- End SECTION_4 AREA -->
  </main>
  <!-- END MAIN AREA -->
  </main>
  <!-- END MAIN AREA -->
  {{>footer}}
  <!-- Bootstrap JS file -->


  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
    crossorigin="anonymous"></script>
  {{!-- Swiper library --}}
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  {{!-- ScrollTrigger GSAP --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  <!-- Custom JS file-->
  <script>
    const tl = gsap.timeline({ defaults: { duration: 1, stagger: 0.7 } });
    tl.from(".headerMain", { opacity: 0.1, x: -500 })
      .from(".banner-image > img", { opacity: 0.1, x: 500 }, '-=0.5')
      .from(".site-title", { opacity: 0.1, y: 500 }, '-=1')
  </script>
  <script>
    let charactersAnimate = $('.letter-animate').text().split("");
    $('.letter-animate').empty();

    $.each(charactersAnimate, function (i, el) {
      $('.letter-animate').append("<div>" + el + "</div>");
      $('.letter-animate div').attr("class", "letters-animate");
    });
  </script>
  <script src="js/scrollHeader.js"></script>
  <script src="js/swiper.js"></script>
  <script src="js/project-nodule.js"></script>
</body>

</html>