<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="author" content="Kamyab Rouhifar">
      <meta name="description" content="Kamyab Portfolio website for describing his performance on programming projects">
      <meta name="keywords" content="HTML, CSS, JavaScript, Portfolio">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Home</title>
      <!-- ico in the URL address bar and on bookmarks created by web browsers -->
      <link rel="icon" type="image/png" href="img/Kamyab.jpg" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.css"
         integrity="sha512-eeBbzvdY28BPYqEsAv4GU/Mv48zr7l0cI6yhWyqhgRoNG3sr+Q2Fr6751bA04Cw8SGUawtVZlugHm5H1GOU/TQ=="
         crossorigin="anonymous" />
      <!-- Bootstrap CSS file -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <!-- fontAwesome file -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
         integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
         crossorigin="anonymous" referrerpolicy="no-referrer" />
      <!-- fontAwesome file anime icon -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.min.css" integrity="sha512-Po8rrCwchD03Wo+2ibHFielZ8luDAVoCyE9i6iFMPyn9+V1tIhGk5wl8iKC9/JfDah5Oe9nV8QzE8HHgjgzp3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <!-- Custom CSS file -->
      <link rel="stylesheet" href="css/style-new.css" />
      <!-- GSAP animation -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
      {{!-- Animation JS Library --}}
      <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script> 
      <style>
         .btn-details {
         position: absolute;
         bottom: -45px;
         margin: auto;
         width: 55%;
         left: 25%;
         }
      </style>
   </head>
   <body>
      <!-- START HEADER -->
      {{> header headerDATA}}
      <!-- END HEADER -->
      <!-- START sidebar Menu AREA -->
      {{> sideMenuLeft}}
      {{> sideMenuRight}}
      <!-- END sidebar Menu AREA -->
      <!-- START MAIN AREA -->
      <main class="site-main">
         <!-- START SECTION_1 AREA -->
         <section class="site-banner" style="background-color: rgb(18, 18, 18);">
            <div class="backgroundImageBox">
                 <video class="videoBackground" src="/video/palm tree.mp4" autoPlay muted loop>
            </div>
            <div class="container" style="position: relative; z-index:2">
               <div class="row justify-content-lg-between justify-content-center align-items-center">
                  <div class="col-12 col-md-4 site-title">
                      <div class="row">
                        <div class="col-12">
                           <div class="intro_name">
                              <div class="title-text title-text--intro">
                                 Hi, I am
                              </div>
                              <div class="letter-whole-animate" style="align-self: flex-end;">
                                    <p class="letter-animate" style="white-space: nowrap;">Kamyab Rouhifar</p>
                                 </div>
                              <div class="subtitle-text subtitle-text--intro bg-dark">
                                 <p class="animate-text" style="white-space: nowrap;">
                                    <span class="text-wrapper">
                                    <span class="line line1"></span>
                                    <span class="letters letters-left">FULLSTACK</span>
                                    <span class="letters letters-right"> DEVELOPER</span>
                                    <span class="line line2"></span>
                                    </span>
                                 </p>
                              </div>
                           <div class="d-flex gap-5">
                              <i class="fa-brands fa-linkedin"></i>
                              <i class="fa-brands fa-github"></i>
                              <i class="fa-brands fa-instagram"></i>
                              <i class="fa-brands fa-whatsapp"></i>
                           </div> 
                           </div>
                        </div>
                     </div>
                     <div class="site-buttons">
                        <div class="d-flex flex-row">
                           <button style="margin-right: 10px;" type="button" class="btn button primary-button mr-4" data-bs-toggle="modal"
                              data-bs-target="#module1">
                           Instant Contact
                           </button>
                           <a onclick="scrollToTarget('projects')">
                           <button type="button" class="btn button secondary-button">
                           Go to projects
                           </button>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-md-8 banner-image">
                     <img src="/img/MyPic/kami-rm.png" alt="Kamyab Rouhifar" class="img-fluid intro__img">
                  </div>
               </div>
            </div>
            <!-- Modal_1 -->
            <div class="modal fade" id="module1" tabindex="-1" aria-labelledby="module1" aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content border-0">
                     <div class="text-danger bg-dark modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-id-card"></i>&nbsp;&nbsp; Contact
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                           aria-label="Close"></button>
                        </button>
                     </div>
                     <div class="modal-body">
                        <div class="container">
                           <div class="row d-flex align-items-center">
                              <div class="col-md-8 col-sm-12 align-self-center">
                                 <ul class="list-group list-group-flush">
                                    <li class="list-group-item pb-3 d-flex align-items-center"><i
                                       class="fa fa-phone-square text-primary f-56"></i><span style="padding-left: 10px;"> Phone:
                                       (437)984-5385</span>
                                    </li>
                                    <li class="list-group-item pt-3 d-flex align-items-center"><i
                                       class="fa fa-envelope-square text-primary f-56"></i><span style="padding-left: 10px;">
                                       E-mail:
                                       karouhifar@gmail.com</span>
                                    </li>
                                 </ul>
                              </div>
                              <div class="col-md-4 col-sm-12">
                                 <img src="https://cdn.pixabay.com/photo/2016/05/31/10/52/call-now-1426588_960_720.png"
                                    alt="contact-us" class="img-fluid">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Modal_2 -->
            <div class="modal fade" id="module2" tabindex="-1" aria-labelledby="module2" aria-hidden="true">
               <div class="modal-dialog modal-lg">
                  <div class="modal-content border-0">
                     <div class="text-danger bg-dark modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">
                           <i class="fas fa-clipboard"></i>&nbsp;&nbsp; Kamyab Resume
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                           aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                        <embed src="resume/KamyabRouhifarResume.pdf" type="application/pdf" width="100%" height="600px" />
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                        </button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- End-Modal -->
         </section>
          <!-- Start SECTION_4 AREA -->
         <div id="projects"></div>
         <section  class="projects-slider gs_reveal3" id="scrollPosition3">
            <div>
               <div class="container">
                  <div class="row">
                     <div class="col-12 text-center services-title my-5">
                               <h1 class="text-uppercase title-text">my projects</h1>
                     </div>
                  </div>
                  <div class="row" id="projectList">
                     <div class="col-12 gs_reveal3">
                        <div class="card border-0 mb-3">
                           <div class="row g-0" style="align-items: center;">
                              <div class="col-md-4" style="cursor: pointer;" onclick="goToLink('https://mediakits.dev.vnplatform.com/profile/LeoMessi')">
                                 <img width="100%" src="img/portfolio/mediakits.png"  alt="kamiStore">
                              </div>
                              <div class="col-md-8">
                                 <div class="card-body">
                                 <h5 id="fa-chevron-right" class="card-title" style="cursor: pointer;" onclick="goToLink('https://mediakits.dev.vnplatform.com/profile/LeoMessi')">MediaKits <i class="fa-solid fa-chevron-right"></i></h5>
                                 <p class="card-text">technologies used 
                                    <img width="40px" src="https://cdn.freebiesupply.com/logos/large/2x/react-logo-png-transparent.png" alt="react"/>
                                    <img width="40px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/GraphQL_Logo.svg/1200px-GraphQL_Logo.svg.png" alt="GraphQL_Logo"/>
                                    <img width="40px" src="https://miro.medium.com/max/816/1*TpbxEQy4ckB-g31PwUQPlg.png" alt="TypeScript"/>
                                    <img width="40px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbDn-_kLAcnntK415Ct2XJd9Uz6A74Qs6LkvcoS6GNWzG-0zsBTBS1EUTYdJXXJn-JnqQ&usqp=CAU" alt="Redux"/>
                                    <img width="40px" src="https://dl2.macupdate.com/images/icons256/60968.png?time=1663919426" alt="pgadmin"/>
                                    <img width="40px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" alt="node"/>
                                 
                                 </p>
                                 <div class="p-3 mb-2 text-dark rounded" style="background-color: #efefef">
                                    <p class="card-text"><small class="text-muted">A media kit is a collection of promotional materials that is used to provide information about a organization or influencer to the media. 
                                       It typically includes information such as company background, key contacts, press releases,
                                        product or service descriptions, and high-resolution images or videos. 
                                        Media kits are often used by public relations professionals,marketers ,and influencer to promote their company or brand to the media, and to provide journalists and other members of the media with the information 
                                        they need to write stories or create content about the company or brand. </small></p> 
                                 </div>
                                   <a href="https://mediakits.dev.vnplatform.com/profile/LeoMessi">MediaKits</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <hr/>
                     <div class="col-12 gs_reveal3">
                        <div class="card border-0 mb-3">
                           <div class="row g-0" style="align-items: center;">
                              <div class="col-md-4" style="cursor: pointer;" onclick="goToLink('https://covid19-track.web.app/')">
                                 <img width="100%" src="img/portfolio/covid-19.png"  alt="kamiStore">
                              </div>
                              <div class="col-md-8">
                                 <div class="card-body">
                                 <h5 id="fa-chevron-right" class="card-title" style="cursor: pointer;" onclick="goToLink('https://covid19-track.web.app/')">Covid-19 Tracker Website <i class="fa-solid fa-chevron-right"></i></h5>
                                 <p class="card-text">technologies used 
                                    <img width="40px" src="https://cdn.freebiesupply.com/logos/large/2x/react-logo-png-transparent.png" alt="react"/>
                                    <img width="40px" src="https://www.computerhope.com/jargon/j/javascript.png" alt="JS"/>
                                    <img width="40px" src="https://img.stackshare.io/service/1904/default_44d81cb9fadbc3688b7e91a6d5217d0ea5358b57.png" alt="MUI"/>
                                    <img width="40px" src="https://avatars.slack-edge.com/2021-02-11/1743993243810_70c06a3b9201ba9e34c1_512.png" alt="Figma"/>
                                    <img width="40px" src="https://app.ellipsis-drive.com/images/plugins/leaflet.jpg" alt="leaflet"/>
                                    <img width="40px" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/logo-man.svg" alt="GSAP"/>
                                 
                                 </p>
                                 <div class="p-3 mb-2 text-dark rounded" style="background-color: #efefef">
                                    <p class="card-text"><small class="text-muted">
                                       A COVID-19 Tracker website is a digital platform that provides real-time information and updates on the ongoing COVID-19 pandemic. 
                                       These websites typically gather data from a Open Disease Data API <a href="https://disease.sh/">disease.sh</a>  to provide the most up-to-date and accurate 
                                       information on the number of confirmed cases, deaths, and recoveries.</small></p> 
                                 </div>
                                   <a href="https://covid19-track.web.app/">Covid-19 Tracker Website</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <hr/>
                     <div class="col-12 gs_reveal3">
                        <div class="card border-0 mb-3">
                           <div class="row g-0" style="align-items: center;">
                              <div class="col-md-4" style="cursor: pointer;" onclick="goToLink('https://kamistore-60f52.web.app/')">
                                 <img width="100%" src="img/portfolio/kamiStore.png"  alt="kamiStore">
                              </div>
                              <div class="col-md-8">
                                 <div class="card-body">
                                 <h5 id="fa-chevron-right" class="card-title" style="cursor: pointer;" onclick="goToLink('https://kamistore-60f52.web.app/')">Kami store application <i class="fa-solid fa-chevron-right"></i></h5>
                                 <p class="card-text">technologies used 
                                    <img width="40px" src="https://geeks.ms/clanderas/wp-content/uploads/sites/275/2016/10/asp_net.png" alt="asp.net"/>
                                    <img width="40px" src="https://cdn.freebiesupply.com/logos/large/2x/react-logo-png-transparent.png" alt="react"/>
                                    <img width="40px" src="https://community.appian.com/cfs-file/__key/communityserver-blogs-components-weblogfiles/00-00-00-00-50/logo.png" alt="JWT"/>
                                    <img width="40px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbDn-_kLAcnntK415Ct2XJd9Uz6A74Qs6LkvcoS6GNWzG-0zsBTBS1EUTYdJXXJn-JnqQ&usqp=CAU" alt="Redux"/>
                                    <img width="40px" src="https://img.portalgsti.com.br/OcsHhsi42lFfKiWbY9GVTDliHi8=/200x200/https://www.portalgsti.com.br/media/uploads/community/2016/04/25/sqlite.png" alt="sqlite"/>
                                    <img width="40px" src="https://rnd-solutions.net/wp-content/uploads/2018/06/azure-icon-250x250.png" alt="Azure"/>
                                 
                                 </p>
                                 <div class="p-3 mb-2 text-dark rounded" style="background-color: #efefef">
                                    <p class="card-text"><small class="text-muted">
                                       Kami store application is an online platform that allows customers to shop for groceries and other household items 
                                       from the comfort of their own homes. These websites typically feature a wide range of products, 
                                       including fresh produce, meats, dairy, bakery items, and pantry staples, as well as household essentials.</small></p> 
                                 </div>
                                   <a href="https://kamistore-60f52.web.app/login">Kami store application</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <hr/>
               </div>
            </div>
         </section>
         <!-- END SECTION_4 AREA -->
         <!-- END SECTION_1 AREA -->
         <!-- ------------------- -->
         <!-- START SECTION_2 AREA -->
         <div id="myStory">
            <section class="about-area gs_reveal" id="scrollPosition">
               <div class="container">
                  <div class="row justify-content-center">
                     <div class="col-12 align-self-center about-title gs_reveal" style="text-align:justify">  
                           <div class="col-12 text-center services-title gs_reveal">
                               <h1 class="text-uppercase title-text">my story</h1>
                           </div>
                           <div class="paragraph pt-4 gs_reveal">
                                 <p class="text-justify">
                                       Hey, I’m Kamyab. I love everything related to web development.
                                       Here are some of the highlights of my web development journey:
                                       <ul>
                                          <li>Having more than two years of web programming experience.</li>
                                          <li>Developing a web-based mortgage property application for DoubleClick Lending.</li>
                                          <li>Getting proficient at ReactJS and Angular front-end frameworks.</li>
                                          <li>Mastering NodeJS, ASP.NET, Django back-end frameworks.</li>
                                       </ul>

                                       When I am not coding, I learn new languages, go to the gym, and roller skate.
                                       I am advanced in Persian and Turkish. I am also learning Spanish at the moment.
                                 </p>
                                 <p class="d-inline-block text-justify text-truncate">
                                    <blockquote style="cursor: pointer" data-bs-toggle="collapse" href="#collapseIcon" role="icon" aria-expanded="false" aria-controls="collapseIcon">
                                       As a full stack software engineer, I started my first career as full time employee in Viral nation, Canada. 
                                       I have had the opportunity to work on a wide range of projects and technologies, 
                                       and collaborate with a team of experienced professionals in the tech and marketing field<span id="changeText"> ...</span>
                                       <span style="cursor: pointer"><i class="fa-sharp fa-solid fa-chevron-down"></i></span>
                                    </blockquote>
                                    <span class="collapse" id="collapseIcon">
                                       <blockquote>
                                          One of the most interesting aspects of working at Viral Nation has been the variety of projects I have been involved in. 
                                          The projects I have worked on have used across different industries, and have been challenging, yet successful. 
                                          For example, I have worked on a project for handling market agencies' and influencers' social media platforms, where I was responsible for developing the entire software 
                                          stack of the company's web application. This involved working on the front-end, back-end and infrastructure such as React, GraphQL, Node.JS ,and PostgresSQL.
                                       </blockquote>
                                       <blockquote>
                                          Another important aspect of working at Viral Nation is the team. The company has a great team culture, and everyone is willing to help and support each other. This has made working at the company a great experience.
                                       </blockquote>
                                       <blockquote>
                                       Overall, my experience as a full stack software engineer at Viral Nation has been very positive. I have had the opportunity to work on interesting projects, stay up to date with the latest technologies and work with a great team. 
                                       I look forward to expanding my journey with the other high-tech companies.
                                       </blockquote>
                                    </span>
                                 </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
         <!-- END SECTION_2 AREA -->
         <!-- ------------------- -->
         <!-- START SECTION_3 AREA -->

         <section class="services-area gs_reveal2" id="scrollPosition2">
            <div class="container">
               <div class="row">
                  <div class="col-12 text-center services-title gs_reveal2">
                     <h1 class="text-uppercase title-text">programming skills</h1>
                  </div>
               </div>
                  <div class="row g-0 gap-1 justify-content-between">
                     <div class="col-12 col-md-5 col-lg-3 gs_reveal2">
                        <div class="services">
                           <div class="sevices-img text-center py-4">
                              <img src="img/services/angular-2.svg" alt="Angular">
                           </div>
                           <div class="card-body text-center">
                              <h5 class="card-title text-uppercase font-roboto">Angular App</h5>
                              <p class="card-text text-secondary">
                                 Used Spotify music API, JWS authentication, Register &amp; login page, Searching bar.
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-12 col-md-5 col-lg-3 gs_reveal2">
                        <div class="services">
                           <div class="sevices-img text-center py-4">
                              <img src="img/services/java-2.svg" alt="Java">
                           </div>
                           <div class="card-body text-center">
                              <h5 class="card-title text-uppercase font-roboto">Java App</h5>
                              <p class="card-text text-secondary">
                                 Used Java Swing - GUI widget toolkit, GUI widget toolkit ,Serialization processing.
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-12 col-md-5 col-lg-3 gs_reveal2">
                        <div class="services">
                           <div class="sevices-img text-center py-4">
                              <img src="img/services/react-2.svg" alt="React">
                           </div>
                           <div class="card-body text-center">
                              <h5 class="card-title text-uppercase font-roboto">React App</h5>
                              <p class="card-text text-secondary">
                                 Used Restaurant API, leaflet mapping library, Searching bar, React Hooks.
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-12 col-md-5 col-lg-3 gs_reveal2">
                        <div class="services">
                           <div class="sevices-img text-center py-4">
                              <img src="img/services/javascript-2.svg" alt="javascript">
                           </div>
                           <div class="card-body text-center">
                              <h5 class="card-title text-uppercase font-roboto">JavaScript App</h5>
                              <p class="card-text text-secondary">
                                 Used NodeJS application, session cookie, Admin &amp; Regular users.
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-12 col-md-5 col-lg-3 gs_reveal2">
                        <div class="services">
                           <div class="sevices-img text-center py-4">
                              <img src="img/services/net-2.svg" alt="ASP.NET">
                           </div>
                           <div class="card-body text-center">
                              <h5 class="card-title text-uppercase font-roboto">ASP.NET App</h5>
                              <p  class="card-text text-secondary">
                                 Used MVC convention pattern, Entity Manager,View Design model.
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-12 col-md-6 col-lg-3 gs_reveal2">
                        <div class="services">
                           <div class="sevices-img text-center py-4">
                              <img width="130" src="img/services/typescript-2.svg" alt="ASP.NET">
                           </div>
                           <div class="card-body text-center">
                              <h5 class="card-title text-uppercase font-roboto">TypeScript App</h5>
                              <p  class="card-text text-secondary">
                                 Used a strict syntactical types, type interface.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </section>
         <!-- END SECTION_3 AREA -->
        
         <!-- ------------------- -->
         <!-- START SECTION_5 AREA -->
         <section class="testimonials mb-5 gs_reveal4" id="scrollPosition4">
            <div class="container">
               <h1 class="title text-center text-uppercase">What others say</h1>
               <div class="row testimonials">
                  <div class="col-lg-4 col-md-12 testimonials-details gs_reveal4">
                     <p>I was lucky enough to be in the same team with Kamyab  
                        for a freelance project that he showed his remarkable programming  
                        skills and passion generously. 
                        I'm sure his dedication will drive his career to the greatest achievements.
                     </p>
                     <div class="d-flex flex-row">
                        <img src="img/testimonials/Ozan.png" alt="Ozan Muldur">
                        <p class="user-details align-self-end"><b>Ozan Muldur</b><br><small class="blockquote-footer">Full-Stack Developer</small>
                        </p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-12 testimonials-details gs_reveal4">
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Porro voluptatibus minima obcaecati. Consequatur hic suscipit dolor laudantium minima alias soluta?
                     </p>
                     <div class="d-flex flex-row">
                        <img src="img/testimonials/kasra.jpg" alt="Kasra">
                        <p class="user-details align-self-end"><b>Kasra Madayeni</b><br><small class="blockquote-footer">Team Lead</small>
                        </p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-12 testimonials-details gs_reveal4">
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Porro voluptatibus minima obcaecati. Consequatur hic suscipit dolor laudantium minima alias soluta?
                     </p>
                     <div class="d-flex flex-row">
                        <img src="img/testimonials/kasra.jpg" alt="Kasra">
                        <p class="user-details align-self-end"><b>Kasra Madayeni</b><br><small class="blockquote-footer">Team Lead</small>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- END SECTION_5 AREA -->
         <!-- ------------------- -->
         <!-- START SECTION_6 AREA -->
         <div id="contact"></div>
         <section class="contact1 gs_reveal5" id="scrollPosition5">
            {{!-- 
            <div class="spacer layer-top"></div>
            --}}
            <div class="container-contact1">
               <!-- start tilt animation SVG image -->
               <div class="contact1-pic js-tilt" data-tilt>
                  <img src="img/phone-call-icon.svg" alt="svg">
               </div>
               <!-- end tilt animation SVG image -->
               <!-- start HTML Form -->
               <form class="contact1-form validate-form" method="POST" action="send" enctype="application/x-www-form-urlencoded">
                  <span class="contact1-form-title">
                  Get in touch
                  </span>
                  <div class="wrap-input1 validate-input" data-validate="Name is required">
                     <input class="input1" type="text" name="name" placeholder="Your Name" id="name">
                     <span class="shadow-input1"></span>
                  </div>
                  <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                     <input class="input1" type="text" name="email" placeholder="Your Email" id="email">
                     <span class="shadow-input1"></span>
                  </div>
                  <div class="wrap-input1 validate-input" data-validate="Subject is required">
                     <input class="input1" type="text" name="subject" placeholder="Your Subject" id="subject">
                     <span class="shadow-input1"></span>
                  </div>
                  <div class="wrap-input1 validate-input" data-validate="Message is required">
                     <textarea class="input1" name="message" placeholder="Your Message" id="message"></textarea>
                     <span class="shadow-input1"></span>
                  </div>
                  <div class="container-contact1-form-btn">
                     <button class="contact1-form-btn">
                     <span>
                     Send Email
                     <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                     </span>
                     </button>
                  </div>
               </form>
               <!-- end HTML Form -->
            </div>
            {{!-- 
            <div class="spacer layer-bottom"></div>
            --}}
         </section>
         <!-- END SECTION_6 AREA -->
         <!-- ------------------- -->
         {{!-- Start module --}}
         <div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
               <div class="modal-content">
                  <div class="text-danger bg-dark modal-header">
                     <i class="fas fa-globe"></i>&nbsp;&nbsp;
                     <h5 class="modal-title" id="exampleModalLabel"></h5>
                     <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <div class="container">
                        <div class="row">
                           <div class="col-lg-6 col-md-12">
                              <p><i class="fas fa-link"></i>&nbsp;&nbsp;Live website link:
                                 <code><b><a href="#" class="model-info-project" target="_blank"></a></b></code>
                              </p>
                              <br>
                              <p><i class="fab fa-github"></i>&nbsp;&nbsp;Github link:
                                 <code><b><a href="#" class="model-info-project-github" target="_blank"></a></b></code>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
         {{!-- End module --}}
      </main>
      <!-- END MAIN AREA -->
      {{>footer}}
      <!-- Bootstrap JS file -->
      <script src="js/jquery-3.6.0.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <script src="js/preLoad.js"></script>
      {{!-- Swiper library --}}
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
      {{!-- ScrollTrigger GSAP --}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/CSSRulePlugin.min.js"
         integrity="sha512-1z2hYE5HWzZW8cAJRhlwT472AGZC3HlJyWYmW3SXG/Qh0S6TFdkYEqJaPwT7eCy9tI4KvwrRVK6IGqtqErpHQg=="
         crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script src="js/project-nodule.js"></script>
      <script>
         const tl = gsap.timeline({
           defaults: {
             duration: 1,
             stagger: 0.7
           }
         });
         tl.from(".headerMain", {
             opacity: 0.1,
             x: -500
           })
           .from(".banner-image > img", {
             opacity: 0.1,
             y: 500
           }, '-=0.5')
           .from(".site-title", {
             opacity: 0.1,
             y: 500
           }, '-=1')
      </script>
      <script src="js/scrollHeader.js"></script>
      <script src="js/swiper-new.js"></script>
      <script src="js/contact.js"></script>
      <script >
         function scrollToTarget(target) {
            window.scrollTo(0, document.getElementById(target).offsetTop - document.getElementsByClassName('headerMain')[0].offsetHeight);
   }</script>
      <script>
         function downloadPDF(url) {
         fetch(url)
         .then(response => response.blob())
         .then(blob => {
            const url = URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            a.download = 'kamyab Resume.pdf';
            a.click();
            URL.revokeObjectURL(url);
         });
         }

      </script>
      <script>
       $('.collapse').on('shown.bs.collapse', function(){

         $(this).parent().find(".fa-sharp").removeClass("fa-chevron-down").addClass("fa-chevron-up");
         $('#changeText').text(".");
         }).on('hidden.bs.collapse', function(){

         $(this).parent().find(".fa-sharp").removeClass("fa-chevron-up").addClass("fa-chevron-down");
         $('#changeText').text(" ...");
       });
      </script>
   </body>
</html>