<!-- START FOOTER AREA -->
<footer class="footer-area">
    <div class="container">
        <div class="site-logo text-center py-4">
            <a href="/"><img src="img/logo.svg" alt="logo" width="100px" class="img-fluid"></a>
        </div>
        <div class="social text-center">
            <h5 class="text-uppercase">Kamyab Rouhifar</h5>
            <a href="https://github.com/karouhifar" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/kamyabrouhi5" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="tel:+14379645385" target="_blank"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.linkedin.com/in/kamyab-rouhifar-84438818a/" target="_blank"><i
                    class="fab fa-linkedin"></i></a>
        </div>
        <div class="copyrights text-center">
            <p class="para" style="list-style: none;">
                Copyright ©2023 All rights reserved | This template is made by
                <span style="color: var(--primary-color);">Kamyab Rouhifar</span>
            </p>
        </div>
    </div>
</footer>
<!-- END FOOTER AREA -->