{{!-- Loading each pages for refreshing HTML DOM --}}
<div class="loader-container  text-light text-uppercase" onload="removeLoading()">
    <div class="spinner-wrapper">
        <div class="spinner">
            <strong class="loading-text px-md-4 display-5">Loading...</strong>
        </div>

    </div>
</div>
{{!-- ------------------------------------------- --}}
<header class="headerMain">
    <div class="main-menu">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/"><img id="imgLogo" src="img/logo.png" alt="logo"
                        style="width: 150px" /></a>
                <button id="navbarID" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {{#if homeData}}
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="/"><b>Home</b></a>
                        </li>
                        {{else}}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/"><b>Home</b></a>
                        </li>
                        {{/if}}
                        {{#if aboutData}}
                        <li class="nav-item active">
                            <a class="nav-link" href="/about"><b>about</b></a>
                        </li>
                        {{else}}
                        <li class="nav-item ">
                            <a class="nav-link" href="/about"><b>about</b></a>
                        </li>
                        {{/if}}
                        {{#if contactData}}
                        <li class="nav-item active">
                            <a class="nav-link" href="/contact"><b>Contact</b></a>
                        </li>
                        {{else}}
                        <li class="nav-item ">
                            <a class="nav-link" href="/contact"><b>Contact</b></a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>