<!-- START Right SideBar AREA -->
<!-- START Left SideBar AREA -->
<sidebar
  aria-orientation="vertical"
  orientation="left"
  class="RightSideBarMenu"
  id="RightSideBarMenu"
>
  <div class="RightSideBarMenu__list">
    <a href="mailto:karouhifar@gmail.com">karouhifar@gmail.com</a>
  </div>
</sidebar>
<!-- END FOOTER AREA -->
<!-- END FOOTER AREA -->