<!-- START Left SideBar AREA -->
<sidebar
  aria-orientation="vertical"
  orientation="left"
  class="LeftSideBarMenu"
  id="LeftSideBarMenu"
>
  <ul class="LeftSideBarMenu__list">
    <li>
      <a href="https://github.com/karouhifar" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/kamyabrouhi5/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/kamyab-rouhifar/" target="_blank">
        <i class="fa-brands fa-linkedin-in"></i></a></li>
    <li><a href="mailto:karouhifar@gmail.com"><i
          class="fa-regular fa-envelope"
        ></i></a></li>
  </ul>
</sidebar>
<!-- END FOOTER AREA -->